@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



/*font-family: "Bebas Neue", cursive;*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: #1f1f1f;
}

.container{
  max-width: 1200px;
  margin: 0 auto;

}

.header{
  background-image: url(/Imagenes/LogoOsom.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 8vh;
  display: flex;
  align-items: center;
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logo{
  font-size: 50px;
  color: #ff0217;
  font-weight:800;
  text-transform: uppercase;

}

.menu .navbar ul li {
  position: relative;
  float: left;

}

.menu .navbar ul li a{
  font-size: 18px;
  padding: 20px;
  color: #FFFFFF;
  display: block;

}

.menu .navbar ul li a :hover{
  color: #cf2d3a;
}

#menu{
  display: none;
}

.menu-icono{
  width: 25px;
}

.menu label{
  cursor: pointer;
  display: none;
}

.header-txt{
  text-align: center;
  margin-bottom: 45px;
}

.header-txt h1, span, h3{
  font-size: 110px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  color: red;
  margin-bottom: 15px;
}

.header-txt span{
  font-size: 25px;
}

.header-txt p{
  color: rgb(255, 255, 255);
  padding: 0 250px;
  margin: 25px 0;
}

.btn-1{
  display: inline-block;
  padding: 1px 15px;
  background-color: #cf2d3a;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  margin: 25px 0;
  border: 0;
}

.btn-1 :hover{
  background-color: #97e605;
}

.header-dir{
  display: flex;
  justify-content: space-between;
  text-align: center;

}

.dir h3{
  font-size: 18px;

}

.dir p{
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

.welcome{
  display: flex;
}
.welcome-1{
  background-image: url(/Imagenes/Jugadores5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.welcome-2{
  width: 50%;
  padding: 150px 250px 150px 100px;
  background-color: #191919;

}

h2{
  font-style: 90px;
  line-height: 100px;
  color:#FFFFFF;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 50px;

}

p{
  font-size: 25px;
  color: #ffffff;
  margin: 25px 0;
}



.b1{
  color: #cf2d3a;

}

.services{
  padding: 100px 0;
  text-align: center;

}

.services-txt{
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr{
  border: 1px solid #cf2d3a;
  width: 80px;
}

.services-txt p{
  padding: 50px 150px;
}

.services-group{
  display: flex;
  justify-content: space-between;
  margin: 0px 0;
}

.services-1{
  background-color: #070707;
  padding: 50px 100px;
  margin: 0 10px;
  border-radius: 15px;
}

.services-1 img{
  width: 100px;
  margin-bottom: 10px;
}

.services-1 h3{
  font-size: 40px;
  color:#ffffff;

}

.services-1 a{
  color: #ff0217;
  font-size: 18px;
}

.prices{
  display: flex;
}

.prices-1{
  width: 50%;
  padding: 150px 250px 150px 100px;
  background-color: #191919;
}

.table{
  margin: 50px 0;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

tr{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #afafaf;
  margin-bottom: 15px;

}

td{
  color: #cf2d3a;
}

.prices-2{
  background-image: url(/Imagenes/ProductoPokemon.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;

}
